[Unit]
Description=Sanoid ZFS snapshot management
Requires=zfs.target
After=zfs.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/sanoid
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target